GtkApplicationWindow {
	background-color: transparent; 
}

GtkMenuBar {
	background-color: @theme_bg_color;
}

GtkStackSwitcher GtkButton {
	padding: 10px;
}

GtkStackSwitcher {
	background-color: darker(@theme_bg_color);
}
