[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Synesthesia
GenericName=Audio Visualizer
Exec=/usr/bin/synesthesia
Terminal=false
Icon=synesthesia
Type=Application
Categories=Application;Audio;
